
body {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 10px solid #00FF00;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    margin: 0px;
    padding: 0px;
    transition: 0.3s ease;
}

.navebar {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.temanave {
    position: relative;
    float: right;
    margin-right: 20px;
    z-index: 2;
}

.temanave:hover {
    cursor: pointer;
}

.temanave img {
    margin-top: 25px;
    height: 40px;
    margin-left: 15px;
}

.img {
    position: fixed;
    width: 200px;
    padding-left: 30px;
    margin-top: 10px;
}

.img:hover {
    cursor: pointer;
}

.link {
    position: fixed;
    margin-top: 30px;
    margin-left: 230px;
    z-index: 3;
}

.link a {
    margin-left: 130px;
    text-decoration: none;
    font-size: 25px;
    color: #00FF00;
    transition: 0.2s ease;
}

.link a:hover {
    color: white;
    border-bottom: 5px solid white;
}

html, body {
    overflow: hidden;
    height: 100%;
}

/* Active link styling */
.link a.active {
    text-decoration: underline 5px solid white;
}
@media screen and (max-width: 768px) {

    body {
        font-family: Arial, Helvetica, sans-serif;
        border-top: 5px solid #00FF00;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        margin: 0px;
        padding: 0px;
        transition: 0.3s ease;
    }
    
    .navebar {
        position: absolute;
        width: 150%;
        height: 30px;
        top: 0px;
        left: 0px;
    }
    
    .img {
        position: fixed;
        width: 120px;
        padding-left: 65px;
        margin-top: 0px;
    }
    
    .img:hover {
        cursor: pointer;
    }
    
    .link {
        position: fixed;
        margin-top: 50px;
        margin-left: 0px;
        z-index: 3;
    }
    
    .link a {
        margin-left: 0px;
        text-decoration: none;
        font-size: 8px;
        color: #00FF00;
        transition: 0.2s ease;
    }
    
    .link a:hover {
        color: white;
        border-bottom: 5px solid white;
    }
    html, body {
        overflow: hidden;
        height: 100%;
    }
    
    /* Active link styling */
    .link a.active {
        text-decoration: underline 2px solid white;
    }
}
