body {
    background-color: #333333;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.cav {
    position: absolute;
    margin-top: 1.5vw;
    left: 0px;
    width: 39vw; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
    z-index: -1; /* Para colocar atrás do conteúdo */
}
iframe {
    width:100vw; 
    height:6vw;
    border:0;
}
/* Novo estilo para txthome1 */
.txthome1 {
    
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    padding-right: 2%; /* Espaçamento da direita */
    max-width: 50%; /* Limita a largura a 50% da tela */
    margin-left: auto; /* Garante que o conteúdo não ultrapasse a metade da tela */
}
h1 {
    font-size: 2.7vw;
}
h2{
    font-size: 2.2vw;
}
@media screen and (max-width: 768px) { /*+editar*/
    body {
        background-color: #333333;
        text-align: right;
        font-family:Arial, Helvetica, sans-serif;
        color: white;
    }
    .txthome1 {
        justify-content: unsafe; /* Alinha o conteúdo à direita */
        padding-right: 0%; /* Espaçamento da direita */
        max-width: 100%; /* Limita a largura a 50% da tela */
        margin-left: 0px; /* Garante que o conteúdo não ultrapasse a metade da tela */
    }
    .cav {
        width: 80vw; /* Reduz a largura máxima */
        z-index: -5;
        margin-top: 1.5vw;
        opacity: 25%;
    }
    h1 {
        font-size: 4.5vw;
    }
    h2{
        font-size: 3.9vw;
    }
iframe {
    width:100vw; 
    height:15vw;
    border:0;
}
}