body {
    background-color: #333333;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
pclini {
    color: #00FF00;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}
h2p {
  font-size: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.card {
  border: 10px solid #00FF00;
  border-radius: 50px;
}

iframe {
    width:100vw; 
    height:6vw;
    border:0;
}